{% block service %}
<div class="border rounded-sm bg-blue-500 md:w-[85em] mx-auto">
  <div class="mx-auto md:flex gap-20 container text-center py-4 text-white text-sm">
  <div>
    <image class="w-14 mx-auto" src="{% static 'app/images/delivered.png'%}">
      <h3 class="font-bold text-2xl text-white">
        Giao hàng toàn quốc
      </h3>
      <p>
        Miễn phí vận chuyển với các đơn hàng trị giá trên 2.000.000Đ
      </p>
  </div>

  <div>
    <image class="w-12 mx-auto" style="" src="{% static 'app/images/phone-call.png'%}">
      <h3 class="font-bold text-2xl text-white">
        Hỗ trợ online 24/24
      </h3>
      <p>
        Luôn hỗ trợ khách hàng 24/24 tất cả các ngày trong tuần
      </p>
  </div>

  <div>
    <image class="w-14 mx-auto" src="{% static 'app/images/delivery-status.png'%}">
      <h3 class="font-bold text-2xl text-white">
        Đỗi hàng dễ dàng
      </h3>
      <p>
      Miễn phí đổi trả trong vòng 30 ngày đầu tiên cho tất cả các mặt hàng
    </p>			
  </div>

  <div>
    <image class="w-14 mx-auto" src="{% static 'app/images/gift.png'%}">
      <h3 class="font-bold text-2xl text-white">
        Quà tặng hấp dẫn
      </h3>
      <p>
        Chương trình khuyễn mãi cực lớn và hấp dẫn hàng tháng
      </p>
  </div>
</div>
</div>
{% endblock %}